@media (min-width: 100px) {
    #image {
       display: block;
       max-width: 100%;
    }
}

#img-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}